<!--------------Content--------------->
<section class="container page-single">
	<div class="wrap-container zerogrid">
		<div class="col-2-3">
			<div id="main-content" class="wrap-col">
				<article>
					<img src="/Public/home/images/img01.jpg" />
					<div class="art-header">
						<h2>the title on the article</h2>
						<div class="info">By Admin on March 01, 2015 with <a href="#">01 Commnets</a></div>
						<div class="line"></div>
					</div>
					<div class="art-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus. Nulla sed nisl mauris, id tristique tortor. Sed iaculis dapibus urna nec dictum. Proin non enim odio. Proin vitae turpis libero, eget feugiat enim. Sed fringilla facilisis convallis.</p>
						<p>Aliquam viverra convallis auctor. Morbi rutrum vulputate est sed faucibus. Nulla sed nisl mauris, id tristique tortor. Sed iaculis dapibus urna nec dictum. Proin non enim odio.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus. Nulla sed nisl mauris, id tristique tortor. Sed iaculis dapibus urna nec dictum. Proin non enim odio. Proin vitae turpis libero, eget feugiat enim. Sed fringilla facilisis convallis.</p>
						<p>Aliquam viverra convallis auctor. Morbi rutrum vulputate est sed faucibus. Nulla sed nisl mauris, id tristique tortor. Sed iaculis dapibus urna nec dictum. Proin non enim odio.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus. Nulla sed nisl mauris, id tristique tortor. Sed iaculis dapibus urna nec dictum. Proin non enim odio. Proin vitae turpis libero, eget feugiat enim. Sed fringilla facilisis convallis.</p>
						<p>Aliquam viverra convallis auctor. Morbi rutrum vulputate est sed faucibus. Nulla sed nisl mauris, id tristique tortor. Sed iaculis dapibus urna nec dictum. Proin non enim odio.</p>
					</div>
					<div class="tag">
						<span>Tag : </span>
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Photoshop</a></li>
							<li><a href="#">Illustrator</a></li>
						</ul>
					</div>
				</article>
				<div class="art-related">
					<span>Related Posts</span>
					<div class="row">
						<div class="col-1-3"><div class="wrap-col">
							<a href="#"><img src="/Public/home/images/img02.jpg"></a>
							<a href="#"><h4>The title on the article</h4></a>
						</div></div>
						<div class="col-1-3"><div class="wrap-col"></a>
							<a href="#"><img src="/Public/home/images/img03.jpg">
							<a href="#"><h4>The title on the article</h4></a>
						</div></div>
						<div class="col-1-3"><div class="wrap-col"></a>
							<a href="#"><img src="/Public/home/images/img04.jpg">
							<a href="#"><h4>The title on the article</h4></a>
						</div></div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-1-3">
			<div id="sidebar" class="wrap-col">
				<div class="widget">
					<div class="wid-header"><h4>About us</h4></div>
					<div class="wid-content">
						<a href="http://www.zerotheme.com" target="_blank"><h1>ZEROTHEME</h1></a>
						<p>Free Html5 Templates created by <a href="http://www.zerotheme.com" target="_blank">Zerotheme</a>. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.</p>
					</div>
				</div>
				<div class="widget wid-menu">
					<div class="wid-header"><h4>Categories</h4></div>
					<div class="wid-content">
						<ul>
							<li><a href="http://www.zerotheme.com">Free Html5 Templates</a></li>
							<li><a href="http://www.zerotheme.com">Free Responsive Themes</a></li>
							<li><a href="http://www.zerotheme.com">Free Html5 and Css3 Themes</a></li>
						</ul>
					</div>
				</div>
				<div class="widget wid-posts">
					<div class="wid-header"><h4>Popular Post</h4></div>
					<div class="wid-content">
						<div class="post">
							<a href="#"><img src="/Public/home/images/img02.jpg"/></a>
							<h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
							<p>November 11 ,2015</p>
						</div>
						<div class="post">
							<a href="#"><img src="/Public/home/images/img03.jpg"/></a>
							<h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
							<p>November 11 ,2015</p>
						</div>
						<div class="post">
							<a href="#"><img src="/Public/home/images/img04.jpg"/></a>
							<h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
							<p>November 11 ,2015</p>
						</div>
					</div>
				</div>
				<div class="widget wid-label">
					<div class="wid-header"><h4>Labels</h4></div>
					<div class="wid-content">
						<a href="#">Design</a> <a href="#">Technology</a> <a href="#">Animal</a> <a href="#">People</a> <a href="#">House</a> <a href="#">Natural</a> <a href="#">Photoshop</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--------------Footer--------------->
